/* NAVIGATION */

.navbar {
  background-color: #202020da;
  border: 2px solid var(--primary-color);
  width: 75%;
  border-radius: 0 0 10px 10px;
  margin-top: 0;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  position: fixed;
  z-index: 5;
}

.navbar--title {
  float: left;
}

.navbar--links {
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  float: right;
}

.navbar--links-element {
  float: right;
  margin: 15px;
  color: var(--primary-color);
  text-decoration: none;
}

/* NAVIGATION HAMBURGER MENU */

.navbar--hamburger{
  display: none;
}
@media (max-width: 600px) {
  .navbar {
    width: 90%;
  }
}

@media screen and (max-width: 1212px) {
  #navbar-main{
    display: none;
  }

.active
{  
  display: flex;
    flex-direction: column;
    justify-content: center;
}
   
   .navbar--hamburger {
    display: flex;
    justify-content: center;
    align-items: center;
     z-index: 10;
   }
   .navbar--hamburger-btn {
    font-size: xx-large;
    color: var(--off-white);
    height: 50px;
    width: 50px;
    border: 2px solid var(--primary-color);
    border-radius: 8px;
    background-color: var(--main-bg-color);
    margin: auto 20px;
   }
   .navbar--sidebar .no- active {
  display: none;
   }
}
