/* NAVIGATION */

.navbar {
  background-color: #202020da;
  margin-top: 0;
  position: fixed;
  width: 100%;
  overflow: visible;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 
}

.navbar--title {
  margin: 20px auto 10px auto;
}
.navbar--links {
  display: flex;
  flex-direction: row;
}


.navbar--links-element {
  margin: 15px;
  color: var(--primary-color);
  text-decoration: none;
}

/* NAVIGATION HAMBURGER MENU */

.navbar--hamburger,
.navbar--sidebar {
  display: none;
}
  
@media (max-width: 1000px) {
  #navbar-main {
    display: none;
  } 
  .navbar--hamburger-btn {
    font-size: xx-large;
    color: var(--off-white);
    height: 50px;
    width: 50px;
    border: 2px solid var(--primary-color);
    border-radius: 8px;
    background-color: var(--main-bg-color);
    margin: auto 20px;
  }
  .navbar--hamburger {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
  } 
  
  .active {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;

  }
 
 


}

